* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #050E26;
    --darkPurple: #361D2E;
    --borderGray: #C3C7CF;
    --backgroundGray: #F3F5FB;
    --textGray: #878B99;
    --green: #90AB90;
}

/* ---------- BREAKPOINTS ---------- */
/* 
    - 640px
    - 768px
    - 1024px
    - 1280px
    - 1536px
*/

body {
    position: relative;
}

/* Common */
.section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

/* Navbar */
.navbar-placeholder {
    height: 81px;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--darkPurple);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
}

.navbar h3 {
    color: var(--white);
    font-size: 28px;
    cursor: pointer;
}

.navbar img {
    cursor: pointer;
}

.input-navbar-container {
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    height: 7px;
    outline-color: #ffffff;
    font-size: 16px;
    background-color: var(--backgroundGray);
  
    position: absolute;
    left: 250px;
    top: 25px;
  }
  
  .search-icon {
    position: absolute;
    height: 20px;
    left: 430px;
    top: 33px;
  }
  
  .search-icon:hover {
    background-color: var(--borderGray);
    background-size: cover;
    border-radius: 50%;
  }

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--white);
    padding: 24px;
    width: 400px;
    height: calc(100vh - 48px);
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
    z-index: 10000;
    transform: translateX(448px);

    transition-property: transform;
    transition-duration: 0.25s;

    overflow-y: scroll;
}


/* Cart products */
.cart-product-container {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.cart-product-container h3 {
    margin-bottom: 24px;
}

.cart-product-prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cart-product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-button {
    padding: 12px 28px;
    cursor: pointer;
}


.cart-product-image {
    min-width: 80px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Overlay */
.overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
}

/* Badge Cart */

.cart-badge {
    position: absolute;
    top: 10px;
    right: 9px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 0.8em;
    display: none;
  }

/* Product Cards */
.product-cards-container {
    display: grid;
    row-gap: 24px;
    column-gap: 24px;
}

.product-card-container {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.10);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    overflow: hidden;
}

.product-card-image {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.product-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-card-title, .product-title {
    height: 48px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-description {
    color: var(--textGray);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-price, .product-price {
    color: var(--green);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.product-card-button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--white);
    background-color: var(--darkPurple);
    cursor: pointer;
    font-weight: 700;
    border-width: 2px;
    border-color: var(--darkPurple);
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
}

.product-card-button:hover, .product-button:hover {
    background-color: var(--white);
    color: var(--darkPurple);
}

.button-clear-cart {
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--white);
    background-color: var(--darkPurple);
    cursor: pointer;
    border-style: solid;
    border-radius: 12px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
}

.button-clear-cart:hover {
    background-color: var(--white);
    color: var(--darkPurple);
    font-weight: 700;
}

.title-button-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

/* Product page */


.product-card-container-page {
    align-items: center;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.10);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    left: 23%;
  
}


.product-image {
    min-width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--white);
    background-color: var(--darkPurple);
    cursor: pointer;
    font-weight: 700;
    border-width: 2px;
    border-color: var(--darkPurple);
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
}

.product-description, .product-price {
    margin-bottom: 10px;
}

.product-description {
    color: var(--textGray);
}

@media (min-width: 768px) {
    .product-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .product-cards-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .product-cards-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}